<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912260679218-0sr6u1pea8gt7526qro1he8tjne3snu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912260679218-0sr6u1pea8gt7526qro1he8tjne3snu6</string>
	<key>API_KEY</key>
	<string>AIzaSyBDEhRZUP6mILIdEhQ-E_XgivDfafECcEI</string>
	<key>GCM_SENDER_ID</key>
	<string>912260679218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.planttrees.eco</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-56c50</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-56c50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912260679218:ios:4d5b23c423415ece305e2b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-56c50.firebaseio.com</string>
</dict>
</plist>